/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

.header {
    display: grid;
    grid-template-columns: repeat(4, fr);
    background-color:  #0056b3 ;
    padding: 20px;
    z-index: 10px;
    margin-bottom: 5px;
}

.logo {
    grid-column: 1/2;
    flex-direction: column;
    border-radius: 50%;
    width: 100px;
    height: auto;
    margin-left: 150px;
}

/* Navbar */
.navbar {
    grid-column: 2/5;
    color: #fff;
    padding: 2rem;
    text-align: center;
    z-index: 10;
    text-decoration: underline;
    font-size: 1.5rem;
}

.navbar a {
    padding: 5%;
    margin: 0 1rem;
    color: #fff;
    font-weight: bold;
}


/* Main Content */
main {
    margin-top: 20px;
}

.tp h1 {
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    color:navy;
    font-size: 2rem;
}

.tp1 {
    display: flex;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.tp1 img, .tp2 img {
    display: flex;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.tp1 p, .tp2 p {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.8;
}

.tp1 b, .tp2 b {
    color: navy
}

/* Footer */
footer {
    text-align: center;
    background-color: #0056b3;
    margin-top: 30px;
    color: #fff;
    font-size: 1rem;
    padding: 15px;
}

footer .sociallinks a {
    margin: 0 10px;
}

footer .sociallinks img {
    width: 25px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation {
        flex-direction: column;
        gap: 10px;
    }

    .tp1, .tp2 {
        padding: 15px;
    }

    footer .sociallinks img {
        width: 20px;
    }
}
